.GuestWrapper{
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    max-width: 1600px;
    left: 20rem;
    top: 18.7rem;
    overflow: hidden;
    padding: 15px;
    box-shadow: 0 2px 20px lightgrey;
    border-radius: 8px;
}
.apartmentImg{
    height: 12rem;
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
    padding: 1rem;
    transition: 200ms ease-in;
}
.apartmentCard{ 
    box-shadow: 0 2px 20px lightgrey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: 200ms ease-in;
}
.apartmentCard h4{
    padding: 1rem;
}
.apartmentCard p{
    padding: 1rem;
}
.viewMore{
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid ;
    background: transparent;
    border-radius: 10px;
    transition:200ms ease-in;
    text-decoration: none;
    text-align: center;
}
.apartmentCard:hover{
    transform: scale(1.02);
}
.viewMore:hover{
    border: 2px solid purple;
    color: purple;
}
.strelice{
    position: absolute;
    display: inline;
    font-size: 2rem;
}
.desnaStrelica{
    position: absolute;
    left: 102.1rem;
    top: -69rem;
    z-index: 1;
    cursor: pointer;
}
.levaStrelica{
    position: absolute;
    left: 97.1rem;
    top: -69rem;
    z-index: 1;
    cursor: pointer;
}
.viewMoreLink{
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 1700px) {
    .GuestWrapper{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        left: 18.8rem;
        max-width: 80%;
    }
    .desnaStrelica{
        left: 90.1rem;
    }
    .levaStrelica{
        left: 85.1rem;
    }
}

@media only screen and (max-width: 1600px) {
    .GuestWrapper{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        left: 18rem;
        max-width: 80%;
    }
    .desnaStrelica{
        left: 90.1rem;
    }
    .levaStrelica{
        left: 85.1rem;
    }
}

@media only screen and (max-width: 1500px) {
    .desnaStrelica{
        left: 78rem;
    }
    .levaStrelica{
        left: 73rem;
    }
}

@media only screen and (max-width: 1450px) {
    .desnaStrelica{
        left: 75rem;
    }
    .levaStrelica{
        left: 70rem;
    }
}

@media only screen and (max-width: 1320px) {
    .GuestWrapper{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .desnaStrelica{
        left: 65rem;
    }
    .levaStrelica{
        left: 60rem;
    }
}

@media only screen and (max-width: 1085px) {
    .desnaStrelica{
        left: 60rem;
    }
    .levaStrelica{
        left: 55rem;
    }
}

@media only screen and (max-width: 1050px) {
    .desnaStrelica{
        left: 60rem;
        top: -68rem;
    }
    .levaStrelica{
        left: 55rem;
        top: -68rem;
    }
    .strelice{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .GuestWrapper{
        grid-template-columns: 1fr 1fr;
    }
    .desnaStrelica{
        left: 55rem;
        top: -58rem;
    }
    .levaStrelica{
        left: 50rem;
        top: -58rem;
    }
}

@media only screen and (max-width: 768px) {
    .desnaStrelica{
        left: 45rem;
    }
    .levaStrelica{
        left: 40rem;
    }
    .GuestWrapper{
        left: 13rem;
        max-width: 80%;
    }
}

@media only screen and (max-width: 425px) {
    .desnaStrelica{
        left: 21.5rem;
    }
    .levaStrelica{
        left: 5rem;
    }
    .GuestWrapper{
        left: 13rem;
        max-width: 80%;
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 375px) {
    .GuestWrapper{
        left: 11rem;
        max-width: 80%;
        grid-template-columns: 1fr;
    }
    .desnaStrelica{
        left: 19.5rem;
    }
    .levaStrelica{
        left: 5rem;
    }
}

@media only screen and (max-width: 320px) {
    .GuestWrapper{
        left: 8.5rem;
        max-width: 80%;
        grid-template-columns: 1fr;
    }
    .desnaStrelica{
        left: 17rem;
    }
    .levaStrelica{
        left: 3rem;
    }
}