.hostWrap{
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    max-width: 1600px;
    left: 15rem;
    top: 20.5rem;
    overflow: hidden;
    padding: 15px;
    box-shadow: 0 2px 20px lightgrey;
    border-radius: 8px;
}
.hostApartment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 40vh;
    border: 2px solid black;
    cursor: pointer;
    gap: 1rem;
}
.hostApartmentDetails{
    text-align: center;
}
.addBtn{
    font-size: 2.5rem;
    transition: 200ms ease-in;
}
.addBtn:hover{
    transform: scale(1.3);
}
.hostImg{
    height: 12rem;
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
    padding: 1rem;
    transition: 200ms ease-in;
}
.hostDescription{
    padding: 1rem;
    max-width: 15rem;
}
.removeWrap{
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
}
.hostinput{
    border: none;
    -webkit-appearance: none;
    -ms-apperance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 150px;
    outline: none;
    transition: 200ms ease-in;
}
.hostinput:focus::placeholder{
    color: transparent;
}
.hostinput::placeholder{
    color: #222;
    transition: color 0.3 ease;
}