.hostWrap{
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    max-width: 1600px;
    left: 15rem;
    top: 20.5rem;
    overflow: hidden;
    padding: 15px;
    box-shadow: 0 2px 20px lightgrey;
    border-radius: 8px;
}
.hostApartment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 40vh;
    border: 2px solid black;
    cursor: pointer;
    gap: 1rem;
}
.hostApartmentDetails{
    text-align: center;
}
.addBtn{
    font-size: 2.5rem;
    transition: 200ms ease-in;
}
.addBtn:hover{
    transform: scale(1.3);
}
.hostImg{
    height: 10rem;
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
    margin-top: 1rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    transition: 200ms ease-in;
}
.hostDescription{
    padding: 1rem;
    max-width: 15rem;
    font-size: 0.9rem;
}
.removeWrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
.hostinput{
    border: none;
    -webkit-appearance: none;
    -ms-apperance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 150px;
    outline: none;
    transition: 200ms ease-in;
}
.removeBtn{
    transition: 200ms ease-in; 
}
.removeBtn:hover{
    color: red;
    transform: scale(1.3);
}

@media only screen and (max-width: 1600px) {
    .hostWrap{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1440px) {
    .hostWrap{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .hostDescription{
        padding: 0.5rem;
        max-width: 15rem;
        font-size: 0.7rem;
        margin-bottom: 0;
    }
    .hostImg{
        height: 8rem;
        width: 100%;
        border-radius: 30px;
        object-fit: cover;
        margin-top: 2.5rem;
        padding: 0.5rem 0.1rem 0.5rem 0.1rem;
    }
    .removeWrap{
        padding: 1rem;
    }
}

@media only screen and (max-width: 1024px) {
    .hostWrap{

        grid-template-columns: 1fr 1fr  ;
        max-width: 1024px;
        left: 15rem;
        top: 20.5rem;
    } 
}

@media only screen and (max-width: 768px) {
    .hostWrap{

        grid-template-columns: 1fr 1fr  ;
        max-width: 1024px;
        left: 7rem;
        top: 20.5rem;
    } 
}

@media only screen and (max-width: 425px) {
    .hostWrap{

        grid-template-columns: 1fr;
        left: 5rem;
        top: 20.5rem;
    } 
}

@media only screen and (max-width: 375px) {
    .hostWrap{
        left: 3rem;
        top: 20.5rem;
    } 
}

@media only screen and (max-width: 320px) {
    .hostWrap{
        left: 1.5rem;
        top: 20.5rem;
    } 
}