.filterContainer{
    width: 18rem;
    height: 65rem;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid;
    margin: 0.7rem;
    border-radius: 20px;
    padding: 1rem 0 0 0;
}
.filterContainer h3{
    border-bottom: 1px solid;
    text-align: center;
    padding-bottom: 1rem;
}
.country{
    border-bottom: 1px solid;
    text-align: center;
}
#dropdown-basic-button{
    margin-bottom: 1rem;
}
.AllFilter h4{
    text-align: center;
}
.filterWrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem 0 0 2.5rem;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid;
}
.checkBox{
    position: absolute;
    left: 15rem;
    /* margin-left: 3rem; */
    width: 1.1rem;
    height: 1.1em;
    accent-color: purple;
    transition: 200ms ease-in;
}
.pTypeTitle{
    padding: 1rem;
}
.pRatingTitle{
    padding: 1rem;
}
.pRatingFilter{
    border-bottom: 0;
}
.submitFilter{
    margin-left: 2.1rem;
    display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #fff;
  background: #4c00b4;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

@media only screen and (max-width: 1700px) {
    .filterContainer{
        width: 17rem;
        margin: 0.4rem;
    }
    .checkBox{
        left: 13rem;
    }
    .submitFilter{
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 1600px) {
    .filterContainer{
        width: 16rem;
    }
    .checkBox{
        left: 13rem;
    }
    .submitFilter{
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .filterContainer{
        width: 12rem;
    }
    .checkBox{
        left: 9rem;
    }
    .AllFilter h4{
        font-size: 1rem;
        font-weight: bold;
    }
    .submitFilter{
        margin-left: 0.8rem;
        width: 160px;
        height: 40px;
        border-radius: 50px;
        font-size: 15px;
        margin-top: 1.2rem;
    }
    .filterWrapper{
        gap: 1rem;
        padding: 1rem 0 0 1rem;
        font-size: 0.9rem;
    }
    .filterContainer{
        height: 55.1rem;
    }
}

@media only screen and (max-width: 375px) {
    .filterContainer{
        width: 10rem;
    }
    .checkBox{
        left: 8rem;
    }
    .submitFilter{
        margin-left: -0.1rem;
    }
}

@media only screen and (max-width: 320px) {
    .filterContainer{
        width: 8rem;
    }
    .checkBox{
        left: 6rem;
    }
    .submitFilter{
        margin-left: 0.8rem;
        width: 100px;
    }
    .filterWrapper{
        gap: 1rem;
        padding: 1rem 0 0 0.1rem;
        font-size: 0.8rem;
    }
    #dropdown-basic-button{
        margin-bottom: 1rem;
        font-size: 0.5rem;
    }
}