.hero{
    border-radius: 30px;
    width: 50rem;
    height: 50vh;
    box-shadow: 10px 10px 5px lightblue;
}
.heroWrap1{
    height: 55.5vh;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.textWrap1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    border: 1px solid white;
    border-radius: 30px;
    padding: 1rem;
    height: 37vh;
    transition: 300ms ease-out;
}
.text1{
    font-size: 1.4rem;
    letter-spacing: 1.3px;
}
.AboutFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.FooterText{
    font-size: 1.8rem;
    text-shadow: 1px 1px 3px skyblue;
    color: black;
    transition: 300ms ease-out;
}
.FooterText:hover{
    font-size: 2rem;
    text-decoration: underline;
    outline-color: skyblue;
}
.FooterLink{
    text-decoration: none;
}
.textWrap1:hover{
    background-color: lightblue;
    border: 1px solid lightblue;
    transform: scale(1.02);
}